version: "3.9"

services:
  app:
    build: .
    container_name: raktsetu-nextjs
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    networks:
      - raktsetu_net

  postgres:
    image: postgres:15-alpine
    container_name: raktsetu-postgres
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - raktsetu_net

  redis:
    image: redis:7-alpine
    container_name: raktsetu-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - raktsetu_net

networks:
  raktsetu_net:
    driver: bridge

volumes:
  postgres_data:
